<div class="block">
    <div class="line">
        <label #name>Name:</label>
        <input for="name" [(ngModel)]="c.name" />
    </div>
    <div class="line">
        <label #race>Race:</label>
        <input for="race" [(ngModel)]="c.race" />
    </div>
    <div class="line">
        <label #size>Size:</label>
        <input for="size" type="number" [(ngModel)]="c.size" />
    </div>

    <div class="derived-stats-container">
        <div>
            <label>Pace</label>
            <div class="border">{{ c.getPace() }}</div>
        </div>
        <div>
            <label>Parry</label>
            <div class="border">{{ c.getParry() }}</div>
        </div>
        <div>
            <label>Toughness</label>
            <div class="border">{{ c.getToughness() }}</div>
        </div>
    </div>
</div>

<div class="attributes">
    <div class="attribute">
        Agility
        <app-die-selector [(die)]="c.agility"></app-die-selector>
    </div>
    <div class="attribute">
        Smarts
        <app-die-selector [(die)]="c.smarts"></app-die-selector>
    </div>
    <div class="attribute">
        Spirit
        <app-die-selector [(die)]="c.spirit"></app-die-selector>
    </div>
    <div class="attribute">
        Strength
        <app-die-selector [(die)]="c.strength"></app-die-selector>
    </div>
    <div class="attribute">
        Vigor
        <app-die-selector [(die)]="c.vigor"></app-die-selector>
    </div>
</div>

<hr />

<div class="skills">
    <div class="skill" *ngFor="let skill of c.skills">
        <div>{{ skill.getName() }} ({{ AttributeUtils.toString(skill.getAttribute()) }})</div>
        <div *ngIf="skill.getDescription() != null">{{ skill.getDescription() }}</div>
        <app-die-selector [(die)]="skill.die"></app-die-selector>
    </div>
    <button (click)="manageSkills()">Manage skills</button>
</div>

<div class="weapons">
    Weapons 
    <button (click)="manageWeapons()">Manage weapons</button>
</div>

<div class="armors">
    Armors
    <div class="armor" *ngFor="let armor of c.armors">
        <div>
            <fa-icon *ngIf="armor.isChest" [icon]="faPlate"></fa-icon>
            <fa-icon *ngIf="armor.isShield" [icon]="faShield"></fa-icon>
            <fa-icon *ngIf="!armor.isChest && !armor.isShield"[icon]="faArmorOther"></fa-icon>
            <span>{{ armor.name }} ({{ formatBonus(armor.bonus) }})</span>
        </div>
    </div>
    <button (click)="manageArmors()">Manage armors</button>
</div>

<!-- 
<div>
    Powers
</div>

<div>
    Edges and Advances
</div>

<div>
    Hindrances
</div>

<div>
    Gear
</div> -->

<app-modal #skillModal [title]="'Skills'">
    <ng-container *ngIf="c != null">
        <div *ngFor="let info of skills" class="skill-row">
            <div>{{ info.name }}</div>
            <div *ngIf="c.findSkill(info.id) == null">
                <button (click)="addSkill(info)">Add</button>
            </div>
        </div>
    </ng-container>
</app-modal>

<app-modal #armorModal [title]="'Armors'">
    <div *ngIf="newArmor != null" class="block">
        <div class="line">
            <label>Name: </label>
            <input [(ngModel)]="newArmor.name"/>
        </div>

        <div class="line">
            <label>Bonus</label>
            <input type="number" [(ngModel)]="newArmor.bonus"/>
        </div>

        <div>
            <label for="chest">Chest Armor</label>
            <input id="chest" type="checkbox" [(ngModel)]="newArmor.isChest" />
        </div>

        <div>
            <label for="shield">Shield</label>
            <input id="shield" type="checkbox" [(ngModel)]="newArmor.isShield" />
        </div>

        <div class="line" *ngIf="newArmor.isShield">
            <label for="shield">Cover</label>
            <input type="number" [(ngModel)]="newArmor.cover"/>
        </div>

        <div>
            <label>Required Strength</label>
            <app-die-selector class="flex-center" [(die)]="newArmor.requiredStr"></app-die-selector>
        </div>

        <div>
            <button (click)="addArmor(newArmor)">Add</button>
        </div>
    </div>
</app-modal>